
body {
  background: #8250df;
}

h1 {
  font-family: Corbel;  
}

#buttons {
  background: SlateGrey;
  padding: 0px;
  
}

#textbox {
  background: white;
  border-radius: 7px;
  
}

.container {
  display: flex;
  gap: 1fr;
  width: 100%;
}

#buttons, #textbox {
  border: 3px solid black;
  display: unset;
  height: 60vh;
  width: 40vw;
  margin: 10px;
  padding-left: 5px;
  color: black;
}
