
body, form {
  background: #8250df;
}

h1 {
  border-bottom: none;
}

input {
  padding: 5px;
}

#buttons, #preview {
  width: 35vw; 
}

#buttons {
  background: LightBlue;
  padding: 10px;  
}

td {
  vertical-align: top;
}

#buttons, #preview {
  border: 3px solid black;
  color: black;
}

#buttons {
  height: 85vh; 
}

#preview {
  border-radius: 7px;
  height: 60vh;
}
